<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <!--Import Google Icon Font-->
        <link type="text/css" href="../css/material-icons.css" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="black">
<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="./../views/dashboard.html" class="brand-logo left">
            <i class="material-icons">home</i>SocialFire</a>
            <ul id="nav-mobile" class="right">
                <li><a id="username" class="waves-effect waves-light btn red darken-3" href="./../views/profile.html"><i class="material-icons left">account_circle</i>user</a></li>
                <li><a id="out" onclick="out()" class="waves-effect waves-light btn red darken-3"> <i class="material-icons right">exit_to_app</i>Log out</a></li>
            </ul>
    </div>
</nav>
<div class="container">
    <div class="row" style="margin: 0px">

        <div class="col s12 red" style="max-height:100vh">
            <div class="input-field" style="height: 10vh;padding: 1%;margin-bottom: 2%;margin-top: 2% ">
                    <form>
                        <div class="input-field" >
                            <input id="search" placeholder="search users" type="search"style="border-radius:10px" required>
                        </div>
                    </form>
            </div>
                <div id="result" class="grey darken-4 col s12 row" style="border: 1px solid #212121; border-radius: 5px;max-height:75vh;overflow: auto;height: 73.7vh;">
                    
                </div>                          
        </div>
    </div>
</div>
<script src="../js/search.js"></script>
<script>
window.onload = function(){
    search(location.href.split('?')[1]);
}
</script>
</body>
</html>
