<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!--Import Google Icon Font-->
    <link type="text/css" href="../css/material-icons.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
html,body{

margin:0px;

height:100%;

}
    </style>

  </head>

  <body class="black">
    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="./../views/dashboard.html" class="brand-logo left">
            <i class="material-icons">home</i>SocialFire</a>
            <ul id="nav-mobile" class="right">
                  <li><a id="username" class="waves-effect waves-light btn red darken-3" href="./../views/profile.html"><i class="material-icons left">account_circle</i>user</a></li>
                  <li><a id="out" onclick="out()" class="waves-effect waves-light btn red darken-3"> <i class="material-icons right">exit_to_app</i>Log out</a></li>
                </ul>
      </div>
    </nav>
    <div class="container-fluid" style="max-height: 100vh;">
        <div class="row" style="margin: 0px">
          <div class="col s3 white" style="max-height: 100vh;">
              <div id="myPost" class="grey darken-4 white-text" style="border: 1px solid #212121 ;border-radius: 10px;height: 40vh;padding: 1%;margin-bottom: 2%;margin-top: 2% ">
                    <img src="avatar.png" alt="no cargo" class="responsive-img circle" width="80%" style="margin-left:10% ">
                    <p id="Name" style="font-size: 24px;margin: 2%"></p>                      
                  </div>
                  <div class="grey darken-4 col s12 row" style="border: 1px solid #212121; border-radius: 5px;max-height:55vh;overflow: auto;height: 55vh;">
                    <div class="collection "style="border: 1px solid #212121 ;border-radius: 10px;height: 28vh;margin-top:20%">
                      <a href="#!" id="addFriend"class="collection-item grey-text text-darken-4" style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">añadir a amigos</a>
                      
                    </div>
                    </div>    
          </div>
            <div class="col s9 red" style="max-height:100vh">
                <div id="myPost" class="input-field" style="border: 1px solid #212121 ;border-radius: 10px;height: 28vh;padding: 1%;margin-bottom: 2%;margin-top: 2% ">
                    <h5>Datos</h5>
                    <p style="font-size: 20px">
                    <span>Nombre:</span> <span id="name" style="margin-right: 2%"></span>
                    <span>Apellido:</span> <span id="lastName" style="margin-right: 2%"></span>
                    <span>Fecha de nacimiento:</span> <span id="birthday" style="margin-right: 2%"></span>
                    <span>Genero:</span> <span id="gender" style="margin-right: 2%"></span> <br>
                    <span>Correo:</span> <span id="email" style="margin-right: 2%"></span>
                    <span>Post:</span> <span id="email" style="margin-right: 2%">1</span>
                    <span>Amigos:</span> <span id="email" style="margin-right: 2%">2</span>
                    </p>
                </div>
                <div class="grey darken-4 col s12 row" style="border: 1px solid #212121; border-radius: 5px;max-height:65vh;overflow: auto;height: 63vh;">                    
                </div>
            </div>
        </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/user.js"></script>
  </body>
</html>                              